<div class="container py-5">
  <h1 class="mb-4">Términos y Condiciones</h1>
  <p>Última actualización: {{ lastUpdated }}</p>
  <div class="mt-4">
    <h2>1. Aceptación de los términos</h2>
    <p>
      Al acceder y utilizar este sitio web, usted acepta estar sujeto a estos
      Términos y Condiciones y a todas las leyes y regulaciones aplicables.
    </p>

    <h2>2. Uso del sitio</h2>
    <p>
      Usted acepta utilizar este sitio solo para fines legales y de una manera
      que no infrinja los derechos de, restrinja o inhiba el uso y disfrute del
      sitio por parte de cualquier tercero.
    </p>

    <h2>3. Propiedad intelectual</h2>
    <p>
      Todo el contenido incluido en este sitio, como texto, gráficos, logotipos,
      imágenes, así como la compilación de los mismos, y cualquier software
      utilizado en este sitio, es propiedad de CRUDO o sus proveedores y está
      protegido por las leyes de derechos de autor.
    </p>

    <h2>4. Limitación de responsabilidad</h2>
    <p>
      CRUDO no será responsable de ningún daño directo, indirecto, incidental,
      consecuente o punitivo que surja del uso o la imposibilidad de usar este
      sitio.
    </p>

    <h2>5. Ley aplicable</h2>
    <p>
      Estos términos y condiciones se regirán e interpretarán de acuerdo con las
      leyes del país donde CRUDO tiene su sede principal, sin dar efecto a
      ningún principio de conflictos de leyes.
    </p>
  </div>
</div>
