  footer {
    font-size: 0.9rem;
    margin-top: auto; /* Importante para el sticky footer */
  }
  footer h5 {
    font-weight: bold;
  }
  footer .list-unstyled li {
    margin-bottom: 0.5rem;
  }
  footer a:hover {
    color: var(--bs-primary) !important;
    text-decoration: none;
  }